{% extends "wiki/base_wiki.html" %}
{% load static %}

{% block titleblock %}History - {{ page.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>History of {{ page.title }}</h1>
            
            <a href="{% url 'wiki:page_detail' page.slug %}" class="btn btn-outline-secondary mb-3">Back to Page</a>
            
            {% if revisions %}
                <div class="list-group">
                {% for revision in revisions %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Revision by {{ revision.editor }}</h5>
                            <small>{{ revision.edited_at|date:"Y-m-d H:i" }}</small>
                        </div>
                        {% if revision.comment %}
                            <p class="mb-1">Comment: {{ revision.comment }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p>No revision history available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
